<div class="container">
  <h2 class="text-center">Login</h2>
  <div class="card">
    <form #loginForm="ngForm"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
      <div class="form-group">
        <label for="username" class="font-weight-bold">Username</label>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-user"></i></span>

          <input type="text" class="form-control" name="username" id="username" placeholder="Username" ngModel
                 #usernameInput="ngModel" required>
        </div>
        <span class="help-block" style="color:red;"
              *ngIf="usernameInput.invalid && usernameInput.touched">Please enter a username</span>
      </div>
      <div class="form-group">
        <label for="password" class="font-weight-bold">Password</label>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
          <input
            id="password"
            name="password"
            type="password" min="2"
            max="20" class="form-control"
            placeholder="Password" ngModel
            #passwordInput="ngModel" required>

        </div>
      </div>
      <span class="help-block" style="color:red;"
            *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a password.</span>

      <div class="d-flex justify-content-center mt-3">
        <button type="submit" [disabled]="loginForm.invalid" name="button" class="btn login_btn">
          <span>Login</span>
        </button>
      </div>
      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Don't have an account? <a routerLink="../../user/register" class="ml-2" style="color: #2C3E50;">Sign Up</a>
        </div>
      </div>
    </form>

  </div>
</div>


