card{
  padding: 20px 20px;
}

h2{
  padding: 10px 0;
}

form{
  padding: 30px 10px;
}

.container{
  margin: 30px auto;
  justify-content: center;
}


.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #e1d074;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 30px;
  margin-bottom: 30px;
  /*margin: 30px 10px;*/
}
.login_btn {
  width: 100%;
  background: #1B4F72!important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #1b4e72 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #1B4F72!important;
}
