@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
@import "~angular-notifier/styles";

td {
  cursor: pointer;
}
.move-right {
  position: absolute;
  right: 0;
}

.move-left {
  position: absolute;
  left: 0;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


body {
  min-height: 100vh;
  background-color: #d5e0ea;
  /*background-color: #f3b25d;*/
  /*background-color: #f6d4ab;*/
  /*background-color: #5bbaea;*/
  /*background-color: #2196d9;*/
}
.container{
  min-height: 80vh;
}

.picChooseBtn{
  background-color: #343a40;
  display: flex;
  border-radius: 15rem;
  color: white;
}
.picChooseBtnInput {
  border-radius: 15rem;
}
#picTitle{
  display: flex;
}

.wrapper {
  display: flex;
}
.all--view--Name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}


.tr-header {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*background-color: white;*/
  /*flex-wrap: nowrap;*/


  position: center;


  margin-left: 0;
}

.tr-header>p {
  /*background-color: #82e8ec;*/
  align-content: space-around;

}

.table-header{
  padding-bottom: 0;
}

#postPicture{
  margin-top: 40px;
}
.section__main {
  background-image: url("assets/net-bg1-1.jpg");
}
